h1{
    text-align:center;
  }

  .marker{
    background-color:red;
    width:200px;
  height:25px;
  margin: 10px auto;
/*they finally gave us margin auto instructions!

also with margin the first one if theres only two gives you top and bottom, 
fka sub and dom hehehe. the one after gives side to side
*/
  }