h1{
    text-align:center;
  }

  .marker{
    width:200px;
  height:25px;
  margin: 10px auto;
/*they finally gave us margin auto instructions!

also with margin the first one if theres only two gives you top and bottom, 
fka sub and dom hehehe. the one after gives side to side
*/
  }

  .one {
    background-color: rgb(255, 0, 255);
  }
  
  .two {
    background-color: rgb(255,255,0);
  }
  
  .three {
    background-color: rgb(0,255,255);
  }

  .marker.rose{
    background-color: rgb(255,0,127);
    height: fit-content;
  }

  .gradient{
    
    background: linear-gradient(90deg,rgb(255, 57, 136),rgb(197, 46, 234));
  }

  /*SO TO COMBINE CLASSES OR BE VERY SPECIFIC DON'T USE SPACEBAR*/


.container{
    background-color:#ffffff;
    padding:10px 0px;
/*where there are only two? up down for the first, left anna right for the next value*/
  }
